<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>requestFactoryServlet</servlet-name>
    <servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>
  </servlet>
  
   <servlet-mapping>
     <servlet-name>requestFactoryServlet</servlet-name>
     <url-pattern>/gwtRequest</url-pattern>
   </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>startpoint.html</welcome-file>
  </welcome-file-list>

 <!--  <login-config>
      <auth-method>FORM</auth-method>
      <form-login-config>
        <form-login-page>login.html</form-login-page>
        <form-error-page>loginerror.html</form-error-page>
      </form-login-config>
   </login-config> -->
</web-app>
